body {
  margin-top: 54px;
}

.content-container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

/* Hero */
.hero {
  padding: 64px 0 60px;
  background: #13161F;
}
.hero-small-title {
  font-size: 26px;
  line-height: 65px;
  color: #FF7E00;
}
.main-title {
  max-width: 754px;
  font-size: 50px;
  line-height: 65px;
  color: #FFFFFF;
}
.hero-nav {
  margin: 60px 0 0;
}
.hero-nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.hero-nav .toctree-l1 {
  width: 22.9%;
}
.hero-nav .toctree-l1 + .toctree-l1 {
  margin-left: 2.7%;
}
.hero-nav .reference {
  position: relative;
  display: block;
  height: 100%;
  padding: 100px 20px 57px;
  background: #090C14;
  border-radius: 1px;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}
.hero-nav .reference::after {
  content: 'Learn more';
  position: absolute;
  bottom: 38px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 16px;
  line-height: 24px;
  color: #9D9D9D;
}
.hero-nav .reference:hover {
  text-decoration: none;
}
.reference::before {
  content: '';
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
}
.hero-nav .toctree-l1:nth-child(1) .reference::before {
  width: 43px;
  height: 34px;
  background: url('../img/notebook.svg') center no-repeat;
  background-size: contain;
}
.hero-nav .toctree-l1:nth-child(2) .reference::before {
  width: 46px;
  height: 40px;
  background: url('../img/search.svg') center no-repeat;
  background-size: contain;
}
.hero-nav .toctree-l1:nth-child(3) .reference::before {
  width: 36px;
  height: 42px;
  background: url('../img/docs.svg') center no-repeat;
  background-size: contain;
}
.hero-nav .toctree-l1:nth-child(4) .reference::before {
  width: 36px;
  height: 43px;
  background: url('../img/dictionary.svg') center no-repeat;
  background-size: contain;
}

/* Breadcrumbs */
.breadcrumbs-section {
  padding: 18px 0;
  background: #000;
}
.breadcrumb {
  align-items: center;
  padding: 0;
  margin: 0;
  background: none;
}
.breadcrumb-item {
  font-size: 16px;
  line-height: 30px;
}
.breadcrumb-item a {
  color: #3490E6;
  text-decoration: underline;
}
.breadcrumb-item.active {
  color: #fff;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
  color: #727272;
}
.btn-group .btn {
  background: #F7931A;
  border-color: #F7931A;
}
.btn-group .btn:hover {
  background: #F7931A;
  border-color: #F7931A;
}

@media handheld, only screen and ( max-width: 990px ), only screen and ( max-device-width: 990px ) {
  .hero-nav .toctree-l1 {
    width: 48.3%;
    margin-bottom: 30px;
  }
  .hero-nav .toctree-l1 + .toctree-l1 {
    margin-left: 3.3%;
  }
  .hero-nav .toctree-l1:nth-child(odd) {
    margin-left: 0;
  }
}
@media handheld, only screen and ( max-width: 500px ), only screen and ( max-device-width: 500px ) {
  .content-container {
    padding: 0 15px;
  }
  .hero-nav .toctree-l1 {
    width: 100%;
  }
  .hero-nav .toctree-l1 + .toctree-l1 {
    margin-left: 0;
  }
}